.second {
    padding: 260px 0 50px 0;
    background-color: rgba(0, 0, 0, 0.95);
    background: url(./background.jpg) center center/cover no-repeat;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
        padding-right: 25px;
    }
    &__img {
        width: 100%;
        max-width: 560px;
        border-radius: 8px;
        position: relative;
        img {
            position: relative;
            width: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: calc(100% - 10px);
            left: 10px;
            top: -15px;
            border: 3px solid var(--main-color);
            border-radius: 8px;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-left: 80px;
    }
}

@media (max-width: 1023px) {
    .second {
        padding-top: 150px;
        &__container {
            flex-wrap: wrap;
        }
        &__text {
            margin: 25px auto;
        }
        &__img {
            margin: 0 auto;
        }
    }
}

@media (max-width: 424px) {
    .second {
        padding-top: 85px;
        padding-bottom: 30px;
        &__text {
            button {
                margin-top: 20px;
            }
        }
    }
}
