.capital {
    background: rgba(0, 0, 0, 0.95);
    padding: 115px 0 50px 0;
    background: url(./background.jpg) center center/cover no-repeat;
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr max(210px);
        justify-content: center;
        align-items:flex-start;
        row-gap: 160px;
        column-gap: 80px;
        margin-bottom: 50px;
    }
    &__block {
        position: relative;
        height: 100%;
        grid-column: 1/3;
        grid-row: 2/3;
        max-width: 850px;
        border-radius: 8px;
        background-color: #025F8C;
        div {
            position: absolute;
            top: 10px;
            left: -10px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background-color: var(--main-color);
            p {
                padding: 0 20px;
                max-width: 710px;
                margin: 0;
                font-size: clamp(12px, 2vw, 28px);
                font-weight: 500;
                color: #ffffff;
            }
        }
    }
    &__img {
        height: auto;
        width: 100%;
        grid-column: 2/3;
        position: relative;
        border-radius: 8px;
        max-width: 510px;
        img {
            position: relative;
            width: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            width: calc(100% - 5px);
            height: calc(100% - 10px);
            left: -15px;
            top: -15px;
            border: 3px solid var(--main-color);
            border-radius: 8px;
        }
    }

    &__text {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        li {
            list-style-type: none;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: -40px;
                top: 50%;
                transform: translateY(-50%);
                width: 25px;
                height: 40px;
                background-image: url(./flag.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
        }
        h2, li {
            margin: 0;
            margin-bottom: 35px;
        }
    }
}

@media (max-width: 1023px) {
    .capital {
        padding-top: 85px;
        &__container {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr 225px;
            row-gap: 45px;
            padding-left: 25px;
        }
        &__img {
            grid-column: 1/2;
            grid-row: 1/2;
            margin: 0 auto;
        }
        &__text {
            grid-row: 2/3;
            margin: 0 auto;
        }
        &__block {
            grid-row: 3/4;
            grid-column: 1/2;
        }
    }
}

@media (max-width: 767px) {
    .capital {
        padding: 30px 0 30px 0;
        row-gap: 30px;
        &__container {
            grid-template-rows: auto 1fr 85px;
        }
    }
}