.comfortable {
    padding: 120px 0 165px 0;
    background: rgba(0, 0, 0, 0.95);
    background: url(./background.jpg) center center/cover no-repeat;
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items:flex-start;
        gap: 80px;
    }
    &__img {
        width: 100%;
        max-width: 616px;
        height: auto;
        grid-column: 1/2;
        position: relative;
        border-radius: 8px;
        img {
            position: relative;
            width: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            width: calc(100% - 5px);
            height: calc(100% - 10px);
            right: -15px;
            top: -15px;
            border: 3px solid var(--main-color);
            border-radius: 8px;
        }
    }
    &__text {
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .comfortable {
        padding-top: 80px;
        padding-bottom: 100px;
        &__container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            padding-right: 25px;
        }
        &__text {
            grid-column: 1/2;
            grid-row: 2/3;
            margin: 0 auto;
        }
        &__img {
            grid-row: 1/2;
            margin: 0 auto;
        }
    }
}

@media (max-width: 767px) {
    .comfortable {
        padding-top: 40px;
        padding-bottom: 30px;
        &__container {
            gap: 30px;
        }
    }
}