
.plans {
    display: grid;
    grid-template-columns: 45vw 35vw;
    grid-template-rows: 60px 1fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 40px auto;
    &__tabs {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    &__map {
        grid-column: 2/3;
        grid-row: 1/3;
        width: 100%;
        position: relative;
        text-align: center;
        img {
            width: 100%;
        }
        svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
    &__slider {
        grid-column: 1/2;
        grid-row: 2/3;
        .swiper-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-tap-highlight-color: transparent;
        }
        
        .swiper-wrapper {
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        .swiper-slide{
            img {
                width: 100%;
                height: auto;
            }
        }
        
        .slider {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            height: 100%;
        }
        
        .swiper-container-thumbs {
            margin-top: 50px;
            cursor: pointer;
            img {
                filter: opacity(0.3);
            }
            .swiper-slide-thumb-active {
                img {
                    filter: opacity(1);
                }
            }
        }
    }
}


.plan {
    fill: #000;
    fill-opacity: 0.4;
    cursor: pointer;
    transition: all .4s;
    &:hover {
        fill: #fff;
        fill-opacity: 0;
    }
    &.active {
        fill: #fff;
        fill-opacity: 0;
    }
}

@media(max-width: 767px) {
    .plans {
        grid-template-columns: 90vw;
        grid-template-rows: repeat(3, auto);
        padding: 15px;
        &__map {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        &__tabs {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        &__slider {
            grid-column: 1/2;
            grid-row: 3/4;
        }
    }
    
}