.header {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    width: 100%;
    &__container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 110px auto 180px;
        grid-template-rows: 113px;
        column-gap: 45px;
        align-items: center;
    }
    &__logo {
        width: 100%;
        height: 100%;
        transition: all .3s ease;
        .icon-fill {
            fill: #fff;
        }
        &:hover {
            filter: drop-shadow(0 0 2px #fff)
        }
    }
    &__menu {
        width: 100%;
        &-logo {
            height: 80px;
            width: 80px;
            margin-top: 10px;
            margin-bottom: 30px;
            display: none;
            svg {
                path{
                    fill: var(--main-color);
                }
            }
            .icon-fill {
                fill: var(--main-color);
            }
        }
        &-items {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            padding: 0;
            li {
                transition: transform .3s ease;
                &:hover {
                    transform: scale(1.02);
                    filter: drop-shadow(0 0 0.5px #fff)
                }
            }
        }
        &-item {
            text-decoration: none;
            font-size: 18px;
        }
        &-phone {
            margin-top: 30px;
            display: none;
        }
        &-social {
            display: none;
            width: 100%;
            max-width: 150px;
            height: 30px;
            justify-content: space-between;
            margin-top: 20px;
            a {
                height: 100%;
                width: 30px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    &__phone {
        position: relative;
        text-align: left;
        min-width: 172px;
    }
    &__humburger {
        position: absolute;
        top: 20px;
        right: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        z-index: 1;
        &-lines, &-lines::before, &-lines::after {
            width: 1.5rem;
            height: 0.1rem;
            background-color: #FFFFFF;
            transition: all 0.5s ease-in-out;
        }
        &-lines {
            &::before {
                content: '';
                position: absolute;
                transform: translateY(-0.5rem);
            }
            &::after {
                content: '';
                position: absolute;
                transform: translateY(0.5rem);
            }
        }
        &.open .header__humburger-lines {
            transform: translateX(2rem);
            width: 0;
            background-color: transparent;
            background-color: var(--main-color);
            &:before {
                transform: rotate(45deg) translate(-1.5rem, 1.5rem);
                background-color: var(--main-color);
            }
            &:after {
                transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
                background-color: var(--main-color);
            }
        }
    }
}

@media(max-width: 1199px) {
    .header {
        &__logo {
            height: 80px;
        }
        &__menu {
            position: fixed;
            padding : 0;
            padding-left: 25px;
            top: 0;
            right: -100%;
            max-width: 320px;
            height: 100vh;
            background-color: rgba(0,0,0,.95);
            transition: all 0.4s ease-in-out;
            visibility: hidden;
            margin: 0;
            &.open {
                right: 0;
                visibility: visible;
            }
            &-logo {
                display: block;
            }
            &-items {
                flex-direction: column;
                justify-content: space-around;
                align-items: start;
                height: 100%;
                max-height: 320px;
                margin: 0;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    font-size: clamp(14px, 5vw, 26px);
                }
            }
            &-item {
                text-decoration: none;
                font-size: 20px;
            }
            &-phone {
                display: block;
            }
            &-social {
                display: flex;
            }
        }
        &__phone {
            display: none;
        }
        &__humburger {
            display: flex;
        }
    }
}